[bot]
nick = Lilaine
ident = lilaine
realname = pyLilaine
description = pyLilaine Two Point Oh!

adminpw = 123456
plugins = plugins/
    
[server]
host = localhost
port = 6667
ssl = off
#password = secret

